body {
  padding: 0px;
  /* font: 14px "Lucida Grande", Helvetica, Arial, sans-serif; */
}
.card{
  /* width: 500px; */
}
.card-img{
  width: auto;
  height: auto;
  background-size: contain;

}
.navbar{
  border-bottom: 1px solid black;
  background-color: rgba(0, 0, 0, 0.89);
}
.navbar-brand{
  font-size: 20px;
  font-weight: bold;
  font-family: "Cambria, Cochin, Georgia, Times, 'Times New Roman', serif";
  margin: 5px;
  color: whitesmoke;
}
.navbar-collapse {
  justify-content: center;
}
.nav-item{
  font-size: 18px;
  margin: 5px;
  font-weight: bold;
}
.nav-item li{
  font-size: 18px;
}
.nav-item:hover{
  text-decoration: underline;
}

 /* PRODUCT LIST STYLE  */

.product-list-title{
  font-weight: bold;
  margin: 10px;
  text-align: center;
}
.product-list-container{
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  /* justify-content: start; */
  align-items: center;
}
.product-list-container .row{
  margin: 10px;
}
.product-list-container .card{
  margin: 10px;
}
.product-list-container .card:hover{
  box-shadow: 1px 1px 10px black;
}
.product-list-container .card-img-top{
  height: 300px;
  background-size: contain;
}

 /* FLOATING ACTION BUTTON  */

 .float{
   position: sticky;
   align-self: flex-end;
   width: 60px;
   height: 60px;
   bottom: 40px;
   margin-right: 10px;
   background-color: rgba(0, 0, 0, 0.89);
   color: #fff;
   border-radius: 50px;
   text-align: center;
   box-shadow: 2px 2px 3px #999;
   z-index: 999;
   list-style: none;
   
 }
 .my-float{
   margin-top: 22px;
 }

/* DELETE PRODUCT BUTTONS */
 .d-products.btns{
   display: flex;
   align-items: flex-end;
 }